<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dada Debug Log</title>
</head>
<body>
<h1>Dada Debug Log</h1>
<ul>
{{#each this}}
{{#if payload.CheckLog}}
    <li>
        <a href="/view/{{payload.CheckLog.index}}">
            Type check log from {{url}}:{{line_start}}:{{col_start}}:{{line_end}}:{{col_end}}<br>
            <code>{{text}}</code>
        </a>
    </li>
{{else if payload.Diagnostic}}
    <li>
        Diagnostic from {{url}}:{{line_start}}:{{col_start}}:{{line_end}}:{{col_end}}<br>
        <code>{{text}}</code><br>
        {{payload.Diagnostic.message}}
    </li>
{{/if}}
{{/each}}
</ul>
</body>
</html>
